practice/wsdlFirst/src/main/resources/wsdl/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://chunglv6-example.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrdersService"
	targetNamespace="http://chunglv6-example.com">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://chunglv6-example.com">
			<xsd:complexType name="product">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="quantity" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ID">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer"/>
					<xsd:element name="product" type="tns:product" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer"/>

				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getOrdersResponse">
				<xsd:sequence>
					<xsd:element name="order" type="tns:order" maxOccurs="unbounded" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="createOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer"/>
					<xsd:element name="order" type="tns:order"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="createOrdersResponse">
				<xsd:sequence>
					<xsd:element name="resault" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="deleteOrderRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer"/>
					<xsd:element name="orderId" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="deleteOrderResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="createOrdersRequest" type="tns:createOrdersRequest"/>
			<xsd:element name="createOrdersResponse" type="tns:createOrdersResponse"/>
			<xsd:element name="getOrdersRequest" type="tns:getOrdersRequest"/>
			<xsd:element name="getOrdersResponse" type="tns:getOrdersResponse"/>
			<xsd:element name="deleteOrderRequest" type="tns:deleteOrderRequest"/>
			<xsd:element name="deleteOrderResponse" type="tns:deleteOrderResponse"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getOrdersRequest">
		<wsdl:part element="tns:getOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part element="tns:getOrdersResponse"
			name="parameters" />
	</wsdl:message>

	<wsdl:message name="createOrdersRequest">
		<wsdl:part name="parameters" element="tns:createOrdersRequest"/>
	</wsdl:message>

	<wsdl:message name="createOrdersResponse">
		<wsdl:part name="parameters" element="tns:createOrdersResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteOrderRequest">
		<wsdl:part name="parameters" element="tns:deleteOrderRequest"/>
	</wsdl:message>

	<wsdl:message name="deleteOrderResponse">
		<wsdl:part name="parameters" element="tns:deleteOrderResponse"/>
	</wsdl:message>

	<wsdl:portType name="customerOrdersPortType">
		<wsdl:operation name="getOrders">
			<wsdl:input message="tns:getOrdersRequest" name="getOrdersRequest"/>
			<wsdl:output message="tns:getOrdersResponse" name="getOrdersResponse"/>
		</wsdl:operation>

		<wsdl:operation name="createOrders">
			<wsdl:input message="tns:createOrdersRequest" name="createOrdersRequest"/>
			<wsdl:output message="tns:createOrdersResponse" name="createOrdersResponse"/>
		</wsdl:operation>

		<wsdl:operation name="deleteOrders">
			<wsdl:input message="tns:deleteOrderRequest" name="deleteOrderRequest"/>
			<wsdl:output message="tns:deleteOrderResponse" name="deleteOrderResponse"/>
		</wsdl:operation>
	</wsdl:portType>



	<wsdl:binding name="CustomerOrdersServiceSoapBinding"
		type="tns:customerOrdersPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getOrders">
			<soap:operation
				soapAction="http://chunglv6-example.com/NewOperation" />
			<wsdl:input name="getOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<soap:operation
					soapAction="http://chunglv6-example.com/NewOperation" />
			<wsdl:input name="createOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="deleteOrders">
			<soap:operation
					soapAction="http://chunglv6-example.com/NewOperation" />
			<wsdl:input name="deleteOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerOrders">
		<wsdl:port binding="tns:CustomerOrdersServiceSoapBinding"
			name="CustomerOrdersPort">
			<soap:address location="http://localhost/wsdlFirstws/services/customerOrdersService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
